$color-1-back:#FFC12D;
$color-1-border:#F9B718;
$color-1-fill:#A47503;
$color-2-back:#97E411;
$color-2-border:#7BC200;
$color-2-fill:#558502;
$color-3-back:#FD7761;
$color-3-border: #F55C43;
$color-3-fill: #D52E13;
$color-4-back: #6FD9FC;
$color-4-border: #47B4F6;
$color-4-fill: #0787D4;
$color-5-back: #A39CDC;
$color-5-border: #8781BD;
$color-5-fill: #5B568E;

$color-4: #2C3E50;
$color-5: #A1B1BC;
$color-6: #CFD2D3;
$color-7: #E2E6E7;

$font-1: 'Lato Black';
$font-2: 'Lato';
$font-3: 'FontAwesome';
$font-size-1: 14px;

* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.row {
    display: flex;
    margin-bottom: 30px;
}

.last-row {
    margin-bottom: 0;
}

.sec {
    border: 1px solid $color-7;
    display: inline-flex;
    border-radius: 10px;
    padding-right: 18px;
    margin-right: 80px;

  a {
    margin-left: 37px;
    margin-top: 15px;

    &::after {
      content: "\f00d";
      color: $color-4;
      font-family: $font-3;
      display: inline-block;
      font-size: $font-size-1;
    }
  }

  &.sec {
    
    &-1 {
      background-color: $color-1-back;
    }

    &-2 {
      background-color: $color-2-back;
    }

    &-3 {
      background-color: $color-3-back;
    }

    &-4 {
      background-color: $color-4-back;
    }
    &-5 {
      background-color: $color-5-back;
    }
  }
}

.alert {
  display: flex;
  &::before {
    content: '\f12a';
    font-family: $font-3;
    display: block;
    background-color: $color-1-back;
    border: 7px solid $color-1-border;
    color: $color-1-fill;
    font-size: 24px;
    border-radius: 70px;
    padding: 13px 20px 12px 20px;
    margin: 42px 50px 43px;
  }

  &.alert {
    &-2::before {
      content: '\f00c';
      font-family: $font-3;
      background-color: $color-2-back;
      border: 7px solid $color-2-border;
      color: $color-2-fill;
    }
    &-3::before {
      content: "\f00d";
      font-family: $font-3;
      background-color: $color-3-back;
      border: 7px solid $color-3-border;
      color: $color-3-fill;
    }
    &-4::before {
      content: "\f0e7";
      font-family: $font-3;
      background-color: $color-4-back;
      border: 7px solid $color-4-border;
      color: $color-4-fill;
    }
    &-5::before {
      content: "\f129";
      font-family: $font-3;
      background-color: $color-5-back;
      border: 7px solid $color-5-border;
      color: $color-5-fill;
    }
  }

  span {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: -21px;
    letter-spacing: 0px;
    word-spacing: 0.1px;
  }
  h1 {
    font-family: $font-1;
    color: $color-4;
    font-size: $font-size-1;
    display: inline-block;
    margin-bottom: 6px;
    line-height: 26px;
    letter-spacing: 1px;
    word-spacing: 2.5px;
  }

  p {
    font-family: $font-2;
    color: $color-4;
    font-size: $font-size-1;
    display: inline-block;
    line-height: 24px;
  }
}
