$color-1: #ffc12d;
$color-2: #f9b718;
$color-3: #a47503;
$color-4: #2c3e50;
$color-5: #a1b1bc;
$color-6: #cfd2d3;
$color-7: #e2e6e7;
$font-1: "Lato Black";
$font-2: "Lato";
$font-3: "FontAwesome";
$font-size-1: 14px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  padding-left: 50px;
}
section {
  border: 1px solid $color-7;
  border-radius: 10px;
  display: inline-flex;
  padding-right: 18px;
  a {
    margin-left: 37px;
    margin-top: 15px;

    &::after {
      content: "\f00d";
      color: $color-6;
      font-family: $font-3;
      display: inline-block;
      font-size: $font-size-1;
    }
  }
}

.alert-1 {
  display: flex;
  &::before {
    content: "\f12a";
    font-family: $font-3;
    display: block;
    color: $color-1;
    background-color: $color-2;
    border: 7px solid $color-3;
    font-size: 24px;
    border-radius: 70px;
    padding: 13px 20px 12px 20px;
    margin: 42px 50px 43px;
  }
  span {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: -21px;
    letter-spacing: 0.0px;
    word-spacing: 0.1px;
  }
  h1 {
    font-family: $font-1;
    color: $color-4;
    font-size: $font-size-1;
    display: inline-block;
    margin-bottom: 6px;
    line-height: 26px;
    letter-spacing: 1px;
    word-spacing: 2.5px;
  }
  p {
    font-family: $font-2;
    color: $color-5;
    font-size: $font-size-1;
    display: inline-block;
    line-height: 24px;
    width: 360px;
  }
}

