$color-1-back:#FFC12D;
$color-1-border:#F9B718;
$color-1-fill:#A47503;
$color-2-back:#97E411;
$color-2-border:#7BC200;
$color-2-fill:#558502;
$color-3-back:#FD7761;
$color-3-border: #F55C43;
$color-3-fill: #D52E13;
$color-4-back: #6FD9FC;
$color-4-border: #47B4F6;
$color-4-fill: #0787D4;
$color-5-back: #A39CDC;
$color-5-border: #8781BD;
$color-5-fill: #5B568E;

$color-4: #2C3E50;
$color-5: #A1B1BC;
$color-6: #CFD2D3;
$color-7: #E2E6E7;
